.tab-header {
    display: flex;
    flex-direction: row;
}
.tab-label{
    margin: 0 4px;
    cursor: pointer;
}
.tab-label.active{
    background-color: aqua;
}
.tab-content-wrapper {
  position: relative;
  min-height: 60px;
}

.tab-content {
  opacity: 0;
  transform: translateY(10px);
  animation: fadeIn 0.3s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}