.container{
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}
.searchField{
    display: flex;
    flex-direction: row;
}
.names{
    display: flex;
    flex-direction: column;
}