.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}
.field{
    display: flex;
    flex-direction: row;
    margin: 8px 0;
}
.errorField{
    color: red;
}
.inputBox{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}
.passwordField {
    display: flex;
    flex-direction: row;
}